<% @animals.each do |card| %> 
  <div class="animal-facts <%= card.title %>">
    <ul style="color: white; list-style: none; padding: 20px;">
      <% card.facts.each do |fact| %>
        <li><%= fact.fact %></li>
      <% end %>
    </ul>
  </div>
<% end %>
