<% @animals.each do |card| %> 
  <div class="animal-facts <%= card.title %>">
    <h3 id="animal-facts-header">Did you know?</h3><br>
    <h4 id="animal-facts-header">The <%= card.title.capitalize %>...</h4>
    <ul class="animal-facts-info">
      <% card.facts.each do |fact| %>
        <li><%= fact.fact %></li><br>
      <% end %>
    </ul>
  </div>
<% end %>
