<div class="row game-board">
  <div class="board" style="margin-left: 55px;">
    <% @cards.each do |card| %>
    <div class="card"><span data-title="<%= card.title %>"><img src="<%= card.url %>"/></span></div>
    <% end %>
  </div>
</div>

