<!DOCUMENT html>
<html>
  <head>
  </head>
  <body>
    <h1 id="main-header">Mammals</h1>
      <h3 id="click-card">Click on a card!</h3>
      <h3 id="match">Match!</h3>
      <h3 id="try-again">Try Again!</h3>
      <div class="row">

        <div class="col-xs-3"> 
          <div class="animal-facts">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="row game-board">
            <% @cards.each do |card| %>
              <div class="card"><span><img src="<%= card.url %>"/></span></div>
          <% end %>
          </div>
        </div>

        <div class="col-xs-3">
        </div>
      </div>
  </body>
</html>
