<!DOCUMENT html>
<html>
  <head>
  </head>
  <body>
    <div class="col-xs-3"></div>
    <div class="col-xs-6" style="text-align: center;">
    <h1>Mammals of the World</h1>
    <ul style="list-style: none; padding: 0px;">
      <% @games.each do |game| %>
        <h3><li><%= link_to game.name, game_path(game) %></li></h3>
      <% end %>
    </ul>
    </div>
    <div class="col-xs-3"></div>
  </body>
</html>
